{% extends 'base.html.twig' %}

{% block title %}Personnal account{% endblock %}

{% block main %}
<h1>Mes informations personnelles</h1>
<p>Prénom : {{ app.user.firstname }}</p>
<p>Nom : {{ app.user.lastname }}</p>
<p>Adresse email : {{ app.user.email }}</p>

<a href="{{ path('app_account') }}">Retourner sur mon profil</a>
{% endblock %}