{% extends 'base.html.twig' %}

{% block title %}Order error{% endblock %}

{% block main %}

<h1>Votre commande n'a pas été payée</h1>
<p>Veuillez de nouveau procéder à votre paiement</p>

{% endblock %}
