@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

/* base et home */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121E26;
    color: white;
    height: 100vh;
    align-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    color: black;
}

.v {
    color: #f29D35;
}

h1 {
    text-align: center;
    padding: 2em;
}

.card {
    margin-top: 1em;
}

.button {
    text-align: center;
    padding: 2em;
    margin: 3em;
}

h2 {
    padding: 1em;
}

footer {
    background-color: rgb(33,37,41);
    padding: 2em;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}

/* page détails */
.details {
    margin: 2em;
    height: 100%;
    align-content: center;
}

.titleDetails {
    padding: 0;
}

.albumDetails {
    text-align: center;
    padding: 2em;
}

/* page list */
.list {
    margin: 2em;
    padding-bottom: 4em;
}