{% extends 'base.html.twig' %}

{% block title %}Contactez-nous !{% endblock %}

{% block main %}
<h3 class="mb-5 ml-0">N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs délais. </h3>
{% for message in app.flashes('notice') %}
<div class="alert alert-info">{{ message }}</div>
{% endfor %}

<div class="row">
    <div class="col-md-8">{{ form(form) }}</div>
    <div class="col-md-4 pl-5">
        <h3>Vinyl</h3>
        <hr>
    </div>
</div>
</div>


{% endblock %}
