{% extends 'base.html.twig' %}

{% block title %}Order Success{% endblock %}

{% block main %}
<h1> Commande payée!</h1>
<p>Votre commande a bien été payée ! merci </p>
<p>Récapitulatif : </p>
<p>N° référence : {{ order.reference }}</p>
<p>Adresse de livraison : {{ order.delivery|raw }}</p>
<p>Transporteur : {{ order.carrierName }}</p>

{% endblock %}
